<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
    <p th:text="${book.getId() + '. ' + book.getTitle() + ', ' + book.getAuthor() + ', ' + book.getYear()}"></p>

    <div>Current owner:</div>
    <div th:if="${people}">
        <p>Book is available</p>
        <br/>
        <form th:method="PATCH" th:action="@{/books/{id}/assign(id=${book.getId()})}">
            <label for="owner">Choose an owner:</label>
            <select th:object="${person}" th:field="*{id}" id="owner">
                <option th:each="p : ${people}" th:value="${p.getId()}"
                        th:text="${p.getName()}"></option>
            </select>
            <input type="submit" value="Select"/>
        </form>
    </div>
    <div th:if="${owner}">
        <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
            <a th:href="@{/people/{id}(id=${owner.get().getId()})}"
               th:text="${owner.get().getName()}">Person value</a>
            <input type="submit" value="Release"/>
        </form>
    </div>
    <br/>
    <a th:href="@{/books/{id}/update(id=${book.getId()})}">Edit book</a>
    <br/>
    <form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
        <input type="submit" value="Delete book"/>
    </form>
    <br/>
    <a href="/books">Main page</a>
</body>
</html>